.dataTables_wrapper{
  padding: 0;
}

.dataTables_paginate ul li.active a{
  background-color: #01c0c8 !important;
  border: #01c0c8 !important;
}

.wizard-content .wizard>.actions>ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0
}

.wizard-content .wizard>.steps>ul>li.current .step {
  border-color: #01c0c8 ;
  background-color: #fff;
  color: #01c0c8 
}

.wizard-content .wizard>.steps>ul>li.done .step {
  background-color: #01c0c8 ;
  border-color: #01c0c8 ;
  color: #fff
}

.wizard-content .wizard.wizard-circle>.steps>ul>li:after,
.wizard-content .wizard.wizard-circle>.steps>ul>li:before {
    top: 45px;
    width: 50%;
    height: 3px;
    background-color: #01c0c8 
}

.wizard-content .wizard>.actions>ul>li>a[href="#next"] {
  background: #03a9f3;
  color: #fff;
  display: block;
  padding: 7px 12px;
  border-radius: 4px;
  border: 1px solid transparent
}

.wizard-content .wizard>.actions>ul>li>a[href="#finish"] {
  background: #fb9678;
  color: #fff;
  display: block;
  padding: 7px 12px;
  border-radius: 4px;
  border: 1px solid transparent
}

.wizard-content .wizard>.actions>ul>li>a[href="#previous"]{
  background: #343a40;
  color: #fff;
  display: block;
  padding: 7px 12px;
  border-radius: 4px;
  border: 1px solid transparent
}

.wizard-content .wizard>.actions>ul>li.disabled>a,
.wizard-content .wizard>.actions>ul>li.disabled>a:focus,
.wizard-content .wizard>.actions>ul>li.disabled>a:hover {
    display: none;
}

.remove-user{
  line-height: 1.7em;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 35px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0;
}

.select2-container .select2-selection--multiple .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 34px;
}
